<center>
<h1>View All Posts</h1>

<% @posts.each do |post| %>
<p>Title: <%=post.title %></p>
<p>Body: <%= truncate(post.body, :length => 50) %></p>
<br>
<%= link_to '<button type="button" class="btn btn-primary">Read Post</button>'.html_safe, post %>

<% end %>
<center>